<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1> <%= pageTitle %> </h1>

	<p><a href="/fruits/new">Add a fruit</a></p>
	<!-- <%= theFruits %> --> <ul>

	<% for(let i = 0; i < theFruits.length; i++) { %>

		 <li>
        <a href="/fruits/<%= i %>"><%= theFruits[i].name %></a>

        <form action="/fruits/<%= i %>?_method=DELETE" method="POST">
          <input type="submit" name="delete">
        </form>

        <a href="/fruits/<%= i %>/edit">Edit Fruit Page</a>
     </li>

	<% } %>
	</ul>


</body>
</html>
